<script setup lang="ts">
import { usePeerStore } from '../stores/peer.ts'
import { usePacketStore } from '../stores/packet.ts'
import { useSimulationStore } from '../stores/simulation.ts'
import { useViewStore } from '../stores/view.ts'

const peerStore = usePeerStore()
const packetStore = usePacketStore()
const { simulation } = useSimulationStore()
const viewStore = useViewStore()

const getSendDelay = () => 0
function sendPackets () {
  const nodes = simulation.nodes()

  const from = nodes
    .sort(() => Math.random() > 0.5 ? -1 : +1 )
    .find(() => true)

  if (!from) return

  let toSend = 3 + Math.round(10 * Math.random())

  viewStore.resetPacketView()
  viewStore.addPacketArrivedTo(from.id)

  const interval = setInterval(
    () => {
      // global seen (per-packet)
      const seen = new Set()

      // TODO change peerStore.followers to perhaps take PeerId instead of Node
      peerStore.followers(from)
        .map(toPeer => nodes.find(node => node.id === toPeer.id))
        .forEach(to => {
          if (!to) return

            // if (viewStore.packetSentTo.has(to.id)) return

            viewStore.addPacketSentTo(to.id)
            packetStore.createPacket({
              from,
              to,
              seen, // adds from.id to seen
              hopsLeft: 2,
              onArrival
            })

          function onArrival () {
            viewStore.addPacketArrivedTo(this.destination.id)
            const newHops = this.hopsLeft -1
            if (newHops === 0) return

            const newFrom = this.destination
            const seen = this.seen

            peerStore.followers(newFrom)
              .map(toPeer => nodes.find(node => node.id === toPeer.id) || [])
              .forEach(newTo => {
                setTimeout(() => {
                  if (seen.has(newTo.id)) return

                  packetStore.createPacket({
                    from: newFrom,
                    to: newTo,
                    seen,
                    hopsLeft: newHops,
                    onArrival
                  })
                }, getSendDelay)
              })
          }
        })

      toSend--
      if (!toSend) clearInterval(interval)
    },
    50
  )
}

</script>

<template>
  <div class="SimControls">
    <button @click="peerStore.onboardPeer">
      Add Peer
    </button>

    <button @click="sendPackets">
      Send Packets
    </button>

    <button @click="viewStore.toggleShowLinks">
      <code>{{ viewStore.showLinks ? '[✓]' : '[ ]' }}</code>
      Show Links
    </button>

  </div>
</template>


<style scoped lang="scss">
.SimControls {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-gap: 1rem;
}
</style>
