<script setup lang="ts">
import { ref, onMounted } from 'vue'
import * as d3 from 'd3'
import { clone, cloneDeep } from 'lodash-es'

import { usePeerStore } from '../stores/peer.ts'
import { useSimulationStore } from '../stores/simulation.ts'
import { usePacketStore } from '../stores/packet.ts'
import { useViewStore } from '../stores/view.ts'

const peerStore = usePeerStore()
const simStore = useSimulationStore()
const packetStore = usePacketStore()
const viewStore = useViewStore()

simStore.setDimensions({
  width: Math.round(document.body.clientWidth * 0.9),
  height: Math.round(document.body.clientHeight * 0.9)
})

const canvas = ref(null) // declare a ref to hold the element reference

const transform = ref(d3.zoomIdentity)

const NODE_RADIUS = 5
const PACKET_RADIUS = 2

let ctx: CanvasRenderingContext2D

onMounted(() => {
  ctx = canvas.value.getContext("2d")! // NOTE ! ensures return value is not null
  ctx.fillStyle = "rgb(200, 0, 80)"
  // ctx.strokeStyle = "rgba(200, 0, 0, 0.5)"
  // ctx.strokeStyle = "#111"
  ctx.strokeStyle = "rgba(20, 20, 20, .7)"
  const simulation = simStore.simulation

  updateSim(simulation)

  // connect peer store →  simulation, draw
  peerStore.$onAction(({ name, args, after }) => {
    after(() => {
      updateSim(simulation)

      if (simulation.alpha() < 0.4) {
        simulation.alpha(0.4)
        simulation.restart()
      }
    })
  })

  function doRedraw () {
    redraw(
      simulation.nodes(),
      simulation.force("link").links(),
      packetStore.packets
    )
  }

  // connect simulation →  drawing
  // simulation.on("tick", () => {
  //   packetStore.tick()
  //   doRedraw()

  //   // HACK - keep the simulation running on low alpha
  //   if (simulation.alpha() < 0.1) simulation.alpha(0.1)
  // })

  simulation.stop()
  function animate () {
    simulation.tick()
    packetStore.tick()
    doRedraw()

    requestAnimationFrame(animate)
  }
  requestAnimationFrame(animate)

  // set up zoom/pan
  d3.select(ctx.canvas).call(
    d3.zoom()
      .scaleExtent([0.1, 8]) .on("zoom", (ev) => {
        transform.value = ev.transform
        doRedraw()
      })
  )
})

function updateSim (simulation) {
  const newNodes = peerStore.peers
    .map(peer => {
      const node = findNode(simulation, peer.id)
      if (node) return node

      return {
        x: Math.random() * simStore.width.value, // somewhere along top
        y: 0,//Math.random() > 0.5 ? height.value : 0 // either bottom or top
        ...clone(peer)
      }
    })

  const newLinks = cloneDeep(peerStore.follows)
  
  simulation.nodes(newNodes)
  simulation.force("link").links(newLinks)
}
function findNode (simulation, id: string) {
  return simulation.nodes().find(node => node.id === id)
}

function redraw (nodes, links, packets) {
  ctx.save()
  ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height)

  ctx.translate(transform.value.x, transform.value.y) // transform before scale
  ctx.scale(transform.value.k, transform.value.k)

  if (viewStore.showLinks) drawLinks(links)
  drawPackets(packets)
  drawNodes(nodes)

  ctx.restore()
}
function drawLinks (links) {
  for (const { source, target } of links) {
    ctx.beginPath()
    ctx.moveTo(source.x, source.y)
    ctx.lineTo(target.x, target.y)
    ctx.stroke()
  }
}
function drawNodes (nodes) {
  ctx.fillStyle = "rgb(200, 0, 80)" // pinky
  ctx.strokeStyle = "rgb(255, 255, 255)"
  for (const node of nodes) {
    ctx.beginPath()
    ctx.arc(node.x, node.y, NODE_RADIUS, 0, 2 * Math.PI)
    ctx.fill()

    if (viewStore.packetArrivedAt.has(node.id)) ctx.stroke()
  }
}
function drawPackets (packets) {
  // console.log(packets.slice(0, 2).map(packet => [packet.location.x, packet.location.y].join(',')).join(' '))
  ctx.fillStyle = "rgb(200, 200, 200)" // redy
  for (const packet of packets) {
    ctx.beginPath()
    ctx.arc(packet.location.x, packet.location.y, PACKET_RADIUS, 0, 2 * Math.PI)
    ctx.fill()
  }
}

</script>

<template>
  <canvas
    ref="canvas"
    :width="simStore.width"
    :height="simStore.height"
  >
  </canvas>

</template>

<style scoped lang="scss">
canvas {
  // filter: drop-shadow(0 0 5px rgba(200, 0, 200, 0.7));
}

</style>
