<script setup lang="ts">
import SimControls from './components/SimControls.vue'
import SimView from './components/SimView.vue'

import { usePeerStore } from './stores/peer.ts'

const peerStore = usePeerStore()

// Seed the graph with some peers!
let peersToSeed = 200
let peerSeedingInterval = setInterval(
  () => {
    peerStore.onboardPeer()

    if (--peersToSeed === 0) {
      clearInterval(peerSeedingInterval)
    }
  },
  50
)

// Periodically make some friends (maybe)!
function addSomeFollows () {
  peerStore.peers.forEach(peer => {
    // as you follow more peers, reduce follows
    if ((Math.random() / peer.follows.size) < 0.1) return

    peerStore.followFoaf(peer)
  })
}
let followingInterval = setInterval(
  () => {
    addSomeFollows()

    if (peersToSeed === 0) {
      clearInterval(followingInterval)

      setInterval(addSomeFollows, 500)
    }
  },
  200
)

</script>

<template>
  <div class="sim-view" >
    <SimView />
  </div>
  <SimControls />
</template>

<style scoped lang="scss">
.sim-view {
  border: 1px solid grey;

  margin-bottom: 1rem;
}

</style>
